.overlay {
    background: url("http://s14.directupload.net/images/111129/44ga9qid.png");
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: fixed;
  flex-direction: column;
}
/*nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
  height: 50px;
  display: block;
  z-index: 2000;
  position: fixed;
}*/
nav {
  background-color: #222;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.playlist-art {
  width: 200px;
  height: auto;
}
.playlist {
  padding: 0;
  min-width: 2000px;
}
.playlist li {
  display: inline-table;
  width: 230px;
}
.playlist li h5 {
  margin-top: 5px;
  color: #999;
}
.welcome-header {
  font-size: 40px;
  color: #F0493E;
}
.thumbnail-friend {
  width: 100px;
  height: auto;
}
.friends {
  padding: 0;
}
.friends li {
  display: inline-block;
  margin-right: 15px;
}
.friends h3 {
  text-align: center;
}
footer {
  padding: 15px;
  background-color: #222;
  text-align: center;
  color: white;
}
#headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
#logomark {
  /*border-radius: 50%;*/
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
#logomark:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.ui.positive.button, .ui.positive.buttons .button {
  background-color: #F0493E;
}
#all-playlists {
  overflow-x: scroll;
}
#split-boxes .block {
  padding: 15px;
}
.block {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  height: 350px;
  overflow-y: scroll;
}
#split-boxes h1 {
  text-align: center;
  color: #F0493E;
}
#playlist-page .input {
  width: 100%;
}
.playlist-headers {
  font-weight: 700;
  font-size: 16px;
}
.no-search-results {
  text-align: center;
  padding-top: 15px;
}
.search-results ul {
    list-style-type: none;
    padding: 0;
}
.search-results ul li {
  margin-bottom: 15px;
}
#song {
  border-bottom: 2px dotted #e0e0e0;
  display: flex;
  align-items: center;
}
#song:last-child {
  border-bottom: 0;
}
.track-name {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.track-name a {
  color: #F0493E;
  cursor: pointer;
}
.artist {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
i.circle {
  font-size: 1.5em;
}
.img-thumb {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
#playlist-info {
  display: flex;
}
.full-width {
  width: 100%;
}

@media (max-width: 539px) {
  #headers {
    display: block;
  }
  .welcome-header {
    font-size: 27px;
  }
  .add {
    margin-top: 15px;
  }
  .playlist li {
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    background-color: #F0493E;
    margin-bottom: 15px;
    color: white;
  }
  .playlist li img {
    display: none;
  }
  .playlist li h3 {
    font-size: 24px;
  }
  .playlist li h5 {
    color: white;
  }
  .playlist {
    width: auto;
  }
}
@media (max-width: 729px) {
  .ui.grid>[class*="two column"].row>.column {
    display: block;
    width: 100%! important;
    margin-bottom: 15px;
  }
  .headers {
    display: none;
  }
  .img-thumb {
    width: 90px;
    height: 90px;
  }
}
